@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #424551;
  line-height: 1;
  font-family: "Lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  display: inline-block;
  padding: 16px 40px;
  position: relative;
}

.button span {
  position: relative;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  opacity: 0;
  background: -o-linear-gradient(34.05deg, #bb2520 0%, #e1661e 100%);
  background: linear-gradient(55.95deg, #bb2520 0%, #e1661e 100%);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  border-radius: 4px;
}

.button:hover::before {
  opacity: 1;
}

.button_border {
  background: transparent;
  border: 1px solid #FF3F3A;
  color: #FF3F3A;
  padding: 15px 40px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button_border:hover {
  color: #fff;
}

.button_border::before {
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.heading {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}

.pre-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
}

.pre-heading:not(:last-child) {
  margin-bottom: 25px;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 0px;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 10px;
}

.menu__link {
  font-weight: 700px;
}

.menu__link:hover {
  text-decoration: underline;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.actions-header__auth {
  background: url(../img/person.svg) left no-repeat;
  padding-left: 24px;
  line-height: 1.25;
}

.actions-header__auth a:hover {
  text-decoration: underline;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.page__main {
  margin-bottom: 180px;
}

.page__createx {
  margin-bottom: 180px;
}

.main-block {
  padding: 200px 0px 80px 0px;
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  position: relative;
}

.main-block__container {
  position: relative;
  z-index: 2;
}

.main-block__body {
  margin-bottom: 190px;
}

.body-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.body-main__play {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.body-main__play:not(:last-child) {
  margin-bottom: 40px;
}

.body-main__play::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52px;
          flex: 0 0 52px;
  width: 52px;
  height: 52px;
  background: #FF3F3A url("../img/dekor/Polygon.svg") center no-repeat;
  border-radius: 50%;
}

.body-main__play::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  background-color: #FF3F3A;
  opacity: 0.12;
  border-radius: 50%;
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-animation: play-circle 0.5s infinite ease alternate;
          animation: play-circle 0.5s infinite ease alternate;
}

.body-main__play:hover::before {
  background-color: #bf2621;
}

.body-main__play:hover::after {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.body-main__title {
  letter-spacing: 1px;
  color: #1E212C;
  font-weight: 900;
  font-size: 64px;
}

.body-main__title:not(:last-child) {
  margin-bottom: 60px;
}

.body-main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.body-main__actions:not(:last-child) {
  margin-bottom: 40px;
}

.body-main__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.body-main__image {
  min-width: 107.8%;
  -webkit-transform: translate(7.8%, 0px);
      -ms-transform: translate(7.8%, 0px);
          transform: translate(7.8%, 0px);
}

@-webkit-keyframes play-circle {
  0% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }

  100% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

@keyframes play-circle {
  0% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }

  100% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

.advantages-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1E212C;
  gap: 12px;
}

.item-advantages__value {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.item-advantages__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.item-advantages__circle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8px;
          flex: 0 0 8px;
  height: 8px;
  background: #FF3F3A;
  border-radius: 50%;
}

.decor-main {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.decor-main__item {
  position: absolute;
}

.decor-main__item_1 {
  background: url("../img/dekor/shapes-1.svg");
  height: 96px;
  width: 96px;
  top: 12%;
  left: 4.2%;
}

.decor-main__item_2 {
  background: url("../img/dekor/circles-2.svg");
  height: 284px;
  width: 284px;
  bottom: -9.2%;
  left: -5.5%;
}

.decor-main__item_3 {
  background: url("../img/dekor/shapes-3.svg");
  height: 47px;
  width: 88px;
  top: 45%;
  left: 40.7%;
}

.decor-main__item_4 {
  background: url("../img/dekor/vector-4.svg");
  height: 61px;
  width: 61px;
  top: 70%;
  left: 38%;
}

.decor-main__item_5 {
  background: url("../img/dekor/shapes-1.svg");
  height: 96px;
  width: 96px;
  top: -1.5%;
  right: 4%;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.decor-main__item_6 {
  background: url("../img/dekor/dots-5.svg");
  height: 137px;
  width: 187px;
  bottom: 17%;
  right: -1.5%;
}

.createx-block {
  position: relative;
}

.createx-block__container {
  position: relative;
  z-index: 2;
}

.body-createx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
			 gap: 20px;
}

.body-createx__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  position: relative;
  padding-bottom: 38.4%;
}

.body-createx__img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-createx__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 42px;
}

.body-createx__title:not(:last-child) {
  margin-bottom: 55px;
}

.body-createx__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.body-createx__list:not(:last-child) {
  margin-bottom: 20px;
}

.body-createx__items {
  position: relative;
  font-weight: 400;
  line-height: 160%;
  padding-left: 30px;
}

.body-createx__items::before {
  content: "";
  background: url("../img/check.svg") 0 0/100% no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 5px;
}

.body-createx__button:not(:last-child) {
  margin-bottom: 15px;
}

.decor-createx {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.decor-createx__item {
  position: absolute;
}

.decor-createx__items-1 {
  background: url("../img/dekor/createx-dots-1.svg");
  width: 181.18px;
  height: 132.74px;
  left: -4%;
  top: 25.7%;
  -webkit-transform: rotate(-55deg);
      -ms-transform: rotate(-55deg);
          transform: rotate(-55deg);
}

.decor-createx__items-2 {
  background: url("../img/dekor/createx-circles-2.svg");
  width: 287px;
  height: 287px;
  right: -8.6%;
  top: 35%;
}